.navBar-img {
	width: 3rem;
	height: 3rem;
	margin: 0 1.8rem;
}

.navBarLinks {
	text-decoration: none;
	color: '#3A1212';
	border-bottom: 3px solid #ff2625;
}

.navBar-ancher {
	text-decoration: none;
	color: '#3A1212';
}
